*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.inner{
    display: flex;
    gap: 1rem;
}

.carousel{
    cursor: grab;
    overflow: hidden;
    max-width: 990vw;
    margin: auto;
    margin: 1.5rem 0 1.3rem 1.5rem;
}