.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    z-index: 1;
    width: 40vw;
    height: 55vw;
    overflow: hidden;
    animation: slide-in 0.5s ease-out;
    /* background-color: red; */
    background-color: #fff;
}
@keyframes slide-in {
    0% {
    transform: translateX(-100%);
    }
    100% {
    transform: translateX(0);
    }
}
.btn{
    width: 100%;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #0acf83;
    background-color: #0acf83;
    border-radius: 0.5rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    margin: 0rem 0.5rem 0.5rem 0rem;
    line-height: 1.2rem;
}
.link{
    color: #fff;
    text-decoration: none;
}