.card{
    background-color: #fff;
    width: 85vw;
    height: 20vh;
    border-radius: 0.4rem;
    display: flex;
    gap: 4rem;
}
.productName{
    margin: 1.5rem 0 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    width: 6rem;
}
.productName2{
    margin: 1.5rem 0 1rem 1.5rem;
    font-weight: 700;
    font-size: 1.375rem;
    width: 6rem;
}
.link{
    width: 6rem;
    color: #0ACF83;
    font-weight: 700;
    font-size: 0.875rem;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1.5rem;
}
.img{
    width: 8rem;
    height: 9rem;
    margin-right: 1rem ;
    margin-top: 1rem;
}