.header{
    margin: 3rem 1.5rem 0 1.5rem;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.3rem;
}
.btnNoStyle {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}