.firstPage{
    background-image: url('../assets/firstPageIMG.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.container{
    margin-top: 7rem;
    margin-bottom: 17.15rem;
    text-align: center;
    font-weight: 700;
}
.title{
    font-size: 3.18rem;
}
.subTitle{
    font-size: 0.87rem;
    font-weight: 700;
}

.form{
    height: 18.87rem;
    gap: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputWrapper{
    position: relative;
    color: rgba(186, 186, 186, 1);
    gap: 0.75rem;
}
.input{
    width: 90vw;
    height: 3.12rem;
    border-radius: 0.62rem;
    border: none;
    padding-left: 3rem;
}
.input::placeholder{
    color: rgba(186, 186, 186, 1);
    position: absolute;
    left: 3rem;
    font-size: 0.9rem;
}
.icon{
    color: rgba(186, 186, 186, 1);
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
.p{
    margin-top: 0.7rem;
    font-size: 0.87rem;
}
.signBtn{
    margin-top: 1.2rem;
    width: 90vw;
    height: 3.12rem;
    border-radius: 0.62rem;
    background-color: #0acf83;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}
.span{
    color: #0ACF83;
}